body {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; /* Agar lebar websitenya full halaman */
}

#grad {
    height: 80px;
    background-image: linear-gradient(white,grey);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.left-header img {
    width: 120px;
}

.right-header {
    display: flex;
    align-items: center;
    margin-right: 40px;
    justify-content: space-between;
}

.right-header nav {
    padding-right: 40px;
}

.right-header nav a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    opacity: 75%;
}

.right-header nav a:hover {
    background-color: red;
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
}

.button-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.right-header img {
    width: 20px;
    height: 20px;
}
